<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

<div class="page-container">
  
  <!-- Sidebar -->
  <aside class="sidebar">
    <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Profile Photo">
    <h2>{{ site.author.name }}</h2>
    <p>{{ site.author.title }}</p>
    <p>
      <!-- <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a><br> -->
      <a href="mailto:{{ site.author.email | replace: '@', ' [at] ' | replace: '.', ' [dot] ' }}"> {{ site.author.email | replace: '@', ' [at] ' | replace: '.', ' [dot] ' }} </a><br><br>

      <a href="https://scholar.google.com/citations?user=XJeA564AAAAJ&hl=fr&oi=ao">Google Scholar</a><br>
      <a href="https://github.com/marc-castella">GitHub</a><br>
      <a href="https://orcid.org/0000-0003-0690-3676">ORCID</a><br>
      <!-- <a href="https://hal.archives-ouvertes.fr/">HAL</a> -->
    </p>
  </aside>

  <!-- Main content -->
  <div class="main">
    <nav class="top-nav">
      {% for item in site.data.navigation %}
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {% endfor %}
    </nav>
    <main class="content">
      {{ content }}
    </main>
  </div>
</div>

<footer>
  <p>&copy; {{ site.author.name }} - {{ "now" | date: "%Y" }}</p>
</footer>

</body>
</html>
